.fondoalfa {
  background-image: url(../img/alfa/alfa2.jpg);
  background-size: cover;
  position: relative;
  width: 100%; }

.fondon {
  background-color: rgba(102, 168, 221, 0.5);
  background-size: cover;
  position: relative;
  margin: -20px,-20px,-20px,-20px;
  width: 100%;
  min-height: 500px;
  z-index: 1; }

.letra {
  background-color: rgba(102, 168, 221, 0.5);
  font-size: 20px; }

.cita {
  font-family: serif;
  font-style: italic;
  font-size: 24px; }

.fondoredroo {
  background-image: url(../img/redroo/redroo2.jpg);
  background-size: cover;
  position: relative;
  width: 100%; }

.fondon {
  background-color: rgba(102, 168, 221, 0.5);
  background-size: cover;
  position: relative;
  margin: -20px,-20px,-20px,-20px;
  width: 100%;
  min-height: 500px;
  z-index: 1; }

.letra {
  background-color: rgba(102, 168, 221, 0.5);
  font-size: 20px; }

.cita {
  font-family: serif;
  font-style: italic;
  font-size: 24px; }

.fondoaloha {
  background-image: url(../img/aloha/aloha2.jpg);
  background-size: cover;
  position: relative;
  width: 100%; }

.fondon {
  background-color: rgba(102, 168, 221, 0.5);
  background-size: cover;
  position: relative;
  margin: -20px,-20px,-20px,-20px;
  width: 100%;
  min-height: 500px;
  z-index: 1; }

.letra {
  background-color: rgba(102, 168, 221, 0.5);
  font-size: 20px; }

.cita {
  font-family: serif;
  font-style: italic;
  font-size: 24px; }

.fondor88 {
  background-image: url(../img/r88/r882.jpg);
  background-size: cover;
  position: relative;
  width: 100%; }

.fondon {
  background-color: rgba(102, 168, 221, 0.5);
  background-size: cover;
  position: relative;
  margin: -20px,-20px,-20px,-20px;
  width: 100%;
  min-height: 500px;
  z-index: 1; }

.letra {
  background-color: rgba(102, 168, 221, 0.5);
  font-size: 20px; }

.cita {
  font-family: serif;
  font-style: italic;
  font-size: 24px; }

h2 {
  font-size: 36px; }

h3 {
  text-align: center;
  font-size: 24px;
  color: white;
  background-color: #2daae1; }

nav {
  padding-top: 20px;
  padding-left: 20px;
  display: inline;
  -ms-flex-line-pack: center;
  align-content: center; }
  nav a {
    list-style-type: none;
    color: #2daae1;
    font-size: 16px;
    padding-top: 6px; }
    nav a:hover {
      -webkit-box-shadow: 0px 2px 0px 0px #2daae1;
      box-shadow: 0px 2px 0px 0px #2daae1; }
    nav a:link {
      text-decoration: none; }

li {
  list-style: none; }

.jumbo {
  min-height: 900px; }

.headingjumbo {
  margin: 5px, 5px, 5px, 5px;
  background-color: rgba(102, 168, 221, 0.5); }

sobrefondo {
  background-color: rgba(102, 168, 221, 0.5);
  position: absolute;
  z-index: 1; }

.leads {
  background-image: url("../img/leads1.jpg");
  background-size: cover;
  height: 600px; }

.footer {
  background-image: url("../img/footer2.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: 0px; }

.blanco, .ojo {
  color: white; }

.imagenes {
  width: 50%; }

.padding {
  padding-left: 80px;
  padding-top: 200px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: end;
  align-content: flex-end; }

.logo {
  padding-top: 10px;
  padding-left: 10px; }

.suscribete {
  padding-left: 80px; }

.headings {
  text-align: center;
  color: #2daae1; }

.justify {
  text-align: justify; }

.centrar {
  text-align: center; }

.centro, .centro2 {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.centro2 {
  margin-top: 25px; }

.centro3, .centro4 {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.centro4 {
  margin-top: 25px; }

.centrarsugerencias {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.vertical {
  padding-top: 10px; }

.cInstagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.fInstagram {
  display: inline-block;
  position: relative;
  padding: 10px 50px 0 50px; }

.cuerpoNosotros {
  display: block;
  text-align: justify; }

.numero {
  font-size: 30px;
  font-weight: bold;
  color: #2daae1; }

.sinpadding [class*="col-"] {
  margin: 0px;
  padding: 0px; }

.restarpadding [class*="col-"] {
  margin: -10px, -10px, -10px -10px;
  padding: -5px, -5px, -5px, -5px; }

.espacio {
  padding: 15px;
  font-size: 18px;
  min-height: 20px;
  background: white;
  margin-bottom: 10px; }

.botoncarousel {
  top: 50px;
  color: white; }

#carousel-1 {
  margin: 0 auto;
  max-width: 96%; }

margen {
  margin-bottom: 40px; }

.menuredes {
  display: inline;
  -ms-flex-line-pack: center;
  align-content: center; }

.fondotarjeta {
  background-color: rgba(102, 168, 221, 0.5); }

.oculto {
  display: none; }

.calculadora {
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color: #2daae1;
  width: 100%;
  border-radius: 25px; }
  .calculadora button {
    display: inline;
    width: 25%;
    font-size: 25px; }

#resultado {
  display: block;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #fff;
  overflow-y: scroll; }

.alturaminima {
  min-height: 30px; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  background-color: #2daae1; }

.catalogo img {
  display: block;
  width: 100%;
  height: auto; }

.catalogo:hover .overlay {
  opacity: 0.8;
  cursor: pointer; }

.ojo {
  font-size: 120px;
  margin-top: 25%;
  margin-left: 38%; }

ul {
  font-size: 18px;
  font-weight: bold;
  color: #2daae1; }

.rrss {
  display: inline;
  max-width: 40px; }

.azul {
  background-color: rgba(102, 168, 221, 0.5);
  background-size: cover;
  width: 100%; }
